Unexpected Handling of Binary Attributes

**Describe the bug**
**Deny processing of ;binary option of binary attribute**



**To Reproduce**
Steps to reproduce the behavior:
1. Want to use one of the binary attributes, userSMIMECertificate.
 Want to add a user certificate and userSMIMECertificate to the user using the inetorgperson object class.
**2. According to the RFC 2798 , says that should use the ;binary  option.**
```
2.8.  User S/MIME Certificate

   A PKCS#7 [RFC2315] SignedData, where the content that is signed is  ignored by consumers of userSMIMECertificate values.  
   It is  recommended that values have a `contentType' of data with an absent  `content' field.  
  Values of this attribute contain a person's entire  certificate chain and an smimeCapabilities 
  field  [RFC2633] that at a minimum describes their SMIME algorithm capabilities.  
  Values for this attribute are to be stored and requested in binary form, as 
  'userSMIMECertificate;binary'. 
  If available, this attribute is  preferred over the userCertificate attribute for S/MIME applications.

    ( 2.16.840.1.113730.3.1.40   NAME 'userSMIMECertificate'   DESC 'PKCS#7 SignedData used to support S/MIME'    SYNTAX 1.3.6.1.4.1.1466.115.121.1.5 )

```
3. So, create an ldif file like the one below and try adding it to the LDAP server.
```
dn: cn=Test01,dc=com
objectClass: top
objectClass: inetOrgPerson
cn: Test01
sn: 001
userCertificate;binary:: MIIFYDCCBEigAwIBAgIUJk5AwyAMSaDcNh9rlEXF8TITpzYwDQYJ
 KoZIhvcNAQELBQAwUDELMAkGA1UEBhMCS1IxHDAaBgNVBAoME0dvdmVybm1lbnQgb2YgS29yZWEx
 DTALBgNVBAsMBEdQS0kxFDASBgNVBAMMC0NBMTMxMTAwMDAxMB4XDTE2MTEyOTA2MDkxM1oXDTE5
 MDMwMTE0NTk1OVowgYUxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNHb3Zlcm5tZW50IG9mIEtvcmVh
 MS0wKwYDVQQLDCTsoJXrtoDsoITsnpDrrLjshJzsnKDthrXqtIDrpqzshLzthLAxDzANBgNVBAsM
 BnBlb3BsZTEYMBYGA1UEAwwPOTk57KCV7ZW06rSAMDAxMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
 MIIBCgKCAQEArsypiWbeelpUTjXl839JKh1P3KemZCtswp44+rDelENxuDX7Wm3w7E8mzrHbrO3j
 cIYWBoAKAQdaYRs2weBaJJtttxSccurdiYyFw0FamSIP4IKLVIBkvXGgXcQcDjFC64WKgAYxh+Ba
 Gh5Bqn8uOp2kwBnprrT8RwDDUBSUZlhbdGdWcdRqkdfTatB51CepFl3ZLKGqhCvXCYK2TZ4ymFUn
 BiERLS1IrTmHj4tdaHGUFw7sbEpUKGaPsjTyBrV1npAJF2rNiI3XYZibc4oWmo5h4BC9Ws5SV321
 c9srXsF0h+RT8UKXAkZo8UTENOpd4tMaeLzMXMw7r1uOVWsOmQIDAQABo4IB+jCCAfYweQYDVR0j
 BHIwcIAUkqR4F7GqLxnYKz+5sysjFYPVlzWhVKRSMFAxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNH
 b3Zlcm5tZW50IG9mIEtvcmVhMQ0wCwYDVQQLDARHUEtJMRQwEgYDVQQDDAtHUEtJUm9vdENBMYIC
 JxIwHQYDVR0OBBYEFLNHc/nIxEO2976lfP4OkeWeR2dZMA4GA1UdDwEB/wQEAwIEMDAWBgNVHSAE
 DzANMAsGCSqDGoaNIQICATBoBgNVHREEYTBfoF0GCSqDGoyaRAoBAaBQME4MCeygle2VtOq0gDBB
 MD8GCiqDGoyaRAoBAQEwMTALBglghkgBZQMEAgGgIgQgWlQlR7bx4S+3FaICPN3FPXuMdsItEse6
 KAopBQE8gkMwgY8GA1UdHwSBhzCBhDCBgaB/oH2Ge2xkYXA6Ly9jZW4uZGlyLmdvLmtyOjM4OS9j
 bj1jcmwxcDFkcDI1MTEsY249Q0ExMzExMDAwMDEsb3U9R1BLSSxvPUdvdmVybm1lbnQgb2YgS29y
 ZWEsYz1LUj9jZXJ0aWZpY2F0ZVJldm9jYXRpb25MaXN0O2JpbmFyeTA2BggrBgEFBQcBAQQqMCgw
 JgYIKwYBBQUHMAGGGmh0dHA6Ly9ndmEuZ3BraS5nby5rcjo4MDAwMA0GCSqGSIb3DQEBCwUAA4IB
 AQAzsNXrZFeDBJglix7A3GRwVwlFqb4tbFnMxRx/+W0NcxTxGbqrQeuXrBoY+Mxx68/p0xAcjhi9
 +7oJxIwy+FVzTVGt+ja4Y4UvxtOswk+KZF/71PWkntwiWLGe/bNmn80P3Dx964zhyAiQeEfDEFjD
 AKBCHkVB35aHB9cEIrqASJWd+A6UwRuwT2IyiHiC3U1KxIWjPeqXuujxxzXI7uCK16jRypHlyFUM
 MTW52HQz48j8L1BiheUo4uk4qEcqr+3BmjWkAkQSdTwiv1Bk7v80xV5JO9yN438pOxWpt+RBIdyZ
 +Zw0qbUXCHT+UpQiWOD3Iewe+MiyoASfP2YeyK3I
userSMIMECertificate;binary:: MIIHhjCCBm6gAwIBAgIUJk4+EmjtxCCETRLB8mb3Cn2LT2w
 wDQYJKoZIhvcNAQELBQAwUDELMAkGA1UEBhMCS1IxHDAaBgNVBAoME0dvdmVybm1lbnQgb2YgS29
 yZWExDTALBgNVBAsMBEdQS0kxFDASBgNVBAMMC0NBMTMxMTAwMDAxMB4XDTE2MTEyOTA2MDkxM1o
 XDTE5MDMwMTE0NTk1OVowgYUxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNHb3Zlcm5tZW50IG9mIEt
 vcmVhMS0wKwYDVQQLDCTsoJXrtoDsoITsnpDrrLjshJzsnKDthrXqtIDrpqzshLzthLAxDzANBgN
 VBAsMBnBlb3BsZTEYMBYGA1UEAwwPOTk57KCV7ZW06rSAMDAxMIIDSDCCAjsGCCqDGoyaRAEVMII
 CLQKCAQEAuTSntn7h4QRGHkk9A9c8IDhTLVTu2n9n6lLHIwHLllzq5j9eRJiitftTV1G3DH9OUmQ
 ypTMa4qFrO35XinMezP9E06Y4x9K2qmGauh/dZwf+l95nZYgKycV8JWa5eh1GaiJ7AqU6VWsbmmz
 2mGM9ujF2CCbjRD22/T3SznB9zgAWQCKKlWnQz6Vd6gqdhrESsScHBdy5Dfw4a4M0YSzkqU0V/Wa
 gFW0P5Bm2QTbILLJEN/Md1/Nc1Cn4CfDHvwsVy+4a5bsnwbxyIdZYfc6PL1w7RYu2GTTFdICOHeu
 WGXQ93YYGm/aMbzqdJMQ0ZWc5TBiC7KTp2iJ54BdtyAa+2wIhALH3V6Myu3PV3HhOVOyYOsumH4x
 6IPeaegy2VH5cQtd7AoIBAQCDsm1NJq2dviUbuiOvWKfUpf5DGyKmAdoDB3GEdylwenTkK8Eh2Rf
 puUkn5savNfV+oDEh7VYaz60GwV13fMGBQ+7h48IBUXexhPjqznX6x7QP8eRYEvWfyuSWOPRZVoK
 +4h7bYXiD5M6BeOc6JufG2kD9zIA2hTMN+RGcPR3gNqkCL6CWRgzY2A4xdW7JKII2sL67h5WA1TU
 5ymEHd6sXeQpUKPgWrSj19IFnxDONA6UVAX0nWRBKU2dO2xPEqxVePHkHaItPxfuDIxtjL/sE7d0
 TBX9dtTSXAIncocMPdMVd3myet6GZPpnjHo2d12KiG8ZdUXhIU8yEuXEQMmOiA4IBBQACggEAWFi
 dkWXnOP+NPAzz64KalbPJZeNbJdIIz4A82ZaYjnkgi9R5tGd//9i/v2y+/Ag9jAFGsKS2kJWiHEN
 p8fGbMi7Z2Ekc+OiCI8Kq27JME9W/GAQNpXkC63IH6xvkucOAnOL4XeT65EXCZpdi7k3bszB6QuI
 72yTsEoDY3iO2Fzg4K+uJLY7HIiN9SIz0ZESSB9WZ979Nnke0GYqFPWYHnMe7AsC/0JY/5KxvAI5
 0HG+sRP8Fdo7WcAUkB7MU8ShXyQzCGInmJRe6ku4xJG1VDnbHS2KBsUdeGVJi23LkF9pUWVXsh8Z
 E2qKxCd8SP8c4OtPdxQw3JZWV4UvZiyGPJqOCAfowggH2MHkGA1UdIwRyMHCAFJKkeBexqi8Z2Cs
 /ubMrIxWD1Zc1oVSkUjBQMQswCQYDVQQGEwJLUjEcMBoGA1UECgwTR292ZXJubWVudCBvZiBLb3J
 lYTENMAsGA1UECwwER1BLSTEUMBIGA1UEAwwLR1BLSVJvb3RDQTGCAicSMB0GA1UdDgQWBBTzbx7
 72CT3LMsU6UHCz+ivCcfiKDAOBgNVHQ8BAf8EBAMCBsAwFgYDVR0gBA8wDTALBgkqgxqGjSECAgE
 waAYDVR0RBGEwX6BdBgkqgxqMmkQKAQGgUDBODAnsoJXtlbTqtIAwQTA/BgoqgxqMmkQKAQEBMDE
 wCwYJYIZIAWUDBAIBoCIEIFpUJUe28eEvtxWiAjzdxT17jHbCLRLHuigKKQUBPIJDMIGPBgNVHR8
 EgYcwgYQwgYGgf6B9hntsZGFwOi8vY2VuLmRpci5nby5rcjozODkvY249Y3JsMXAxZHAyNTExLGN
 uPUNBMTMxMTAwMDAxLG91PUdQS0ksbz1Hb3Zlcm5tZW50IG9mIEtvcmVhLGM9S1I/Y2VydGlmaWN
 hdGVSZXZvY2F0aW9uTGlzdDtiaW5hcnkwNgYIKwYBBQUHAQEEKjAoMCYGCCsGAQUFBzABhhpodHR
 wOi8vZ3ZhLmdwa2kuZ28ua3I6ODAwMDANBgkqhkiG9w0BAQsFAAOCAQEAW+5jTn71bDgr1kXylEo
 1vKnsqnI9GeOy3/5cKRifQDv4QX9IUR8gEP6zjT7rlDFxryuSBzMOQTCrzYJQN5oZcJxxFXgDZTC
 MFLl7r2UlH9tNrg8NxY3AdohdP0/3bR/hR4U+whz36A4jRnDJXrtPgm/TDE93+9Q/SYgfivUuXpG
 19yQQYf0bwxP20cIo+fcE0CE1wd14QbxYr0OtSTEA+1Og5ra4PHdu/yIKMJETBjHGXIht1qec8mm
 OZN0vuW5l8sZbqt9BO5Cs/zrqt8vUKHFYti4yNsB6BLlKr5f0HjVsUD0GuwX+Sd+V/Stp9RJSIJd
 YFnK//5TyYCuqx6pc1g==


```

**4. Try adding an entry using an LDAP browser or the ldapmodify command.**

> 
> ldapmodify -p 389 -c -D "cn = directory manager" -w dirmanager "test.ldif"
> Processing ADD request for cn = Test01, dc = com
> The LDAP modify request failed: 17 (Undefined Attribute Type)
> Additional Information: Entry cn = Test01, dc = com can not be added because BER
> encoding of userSMIMECertificate; binary attribute is not supported
----access log
```
[25/9??2019:16:31:06 +0900] BIND REQ conn=6 op=0 msgID=1 version=3 type=SIMPLE dn="cn=directory manager"
[25/9??2019:16:31:06 +0900] BIND RES conn=6 op=0 msgID=1 result=0 authDN="cn=Directory Manager,cn=Root DNs,cn=config" etime=1
[25/9??2019:16:31:06 +0900] ADD REQ conn=6 op=1 msgID=2 dn="cn=Test01,dc=com"
[25/9??2019:16:31:06 +0900] ADD RES conn=6 op=1 msgID=2 result=17 message="Entry cn=Test01,dc=com can not be added because BER encoding of userSMIMECertificate;binary attribute is no
t supported" etime=1
```
**5. Remove the ;binary option of userSMIMECertificate and try again..**


>  ldapmodify -p 389 -c -D "cn = directory manager" -w dirmanager "test.ldif"
> Processing ADD request for cn = Test01, dc = com
> The ADD operation for DN cn = Test01, dc = com was successful.

-----access log
```

[25/9??2019:16:36:18 +0900] BIND REQ conn=7 op=0 msgID=1 version=3 type=SIMPLE dn="cn=directory manager"
[25/9??2019:16:36:18 +0900] BIND RES conn=7 op=0 msgID=1 result=0 authDN="cn=Directory Manager,cn=Root DNs,cn=config" etime=1
[25/9??2019:16:36:18 +0900] ADD REQ conn=7 op=1 msgID=2 dn="cn=Test01,dc=com"
[25/9??2019:16:36:19 +0900] ADD RES conn=7 op=1 msgID=2 result=0 etime=28

```
**6. Check Added Entry data**
1) ldapsearch command
```
ldapsearch -p 389  -D "cn=directory manager" -w dirmanager -b cn=Test01,dc=com "objectclass=*"
dn: cn=Test01,dc=com
cn: Test01
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: top
sn: 001
userCertificate;binary:: MIIFYDCCBEigAwIBAgIUJk5AwyAMSaDcNh9rlEXF8TITpzYwDQYJKoZIhvcNAQELBQAwUDELMAkGA1UEBhMCS1IxHDAaBgNVBAoME0dvdmVybm1lbnQgb2YgS29yZWExDTALBgNVBAsMBEdQS0kxFDASBgNVB
AMMC0NBMTMxMTAwMDAxMB4XDTE2MTEyOTA2MDkxM1oXDTE5MDMwMTE0NTk1OVowgYUxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNHb3Zlcm5tZW50IG9mIEtvcmVhMS0wKwYDVQQLDCTsoJXrtoDsoITsnpDrrLjshJzsnKDthrXqtIDrpqzshLz
thLAxDzANBgNVBAsMBnBlb3BsZTEYMBYGA1UEAwwPOTk57KCV7ZW06rSAMDAxMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArsypiWbeelpUTjXl839JKh1P3KemZCtswp44+rDelENxuDX7Wm3w7E8mzrHbrO3jcIYWBoAKAQdaY
Rs2weBaJJtttxSccurdiYyFw0FamSIP4IKLVIBkvXGgXcQcDjFC64WKgAYxh+BaGh5Bqn8uOp2kwBnprrT8RwDDUBSUZlhbdGdWcdRqkdfTatB51CepFl3ZLKGqhCvXCYK2TZ4ymFUnBiERLS1IrTmHj4tdaHGUFw7sbEpUKGaPsjTyBrV1npA
JF2rNiI3XYZibc4oWmo5h4BC9Ws5SV321c9srXsF0h+RT8UKXAkZo8UTENOpd4tMaeLzMXMw7r1uOVWsOmQIDAQABo4IB+jCCAfYweQYDVR0jBHIwcIAUkqR4F7GqLxnYKz+5sysjFYPVlzWhVKRSMFAxCzAJBgNVBAYTAktSMRwwGgYDVQQKD
BNHb3Zlcm5tZW50IG9mIEtvcmVhMQ0wCwYDVQQLDARHUEtJMRQwEgYDVQQDDAtHUEtJUm9vdENBMYICJxIwHQYDVR0OBBYEFLNHc/nIxEO2976lfP4OkeWeR2dZMA4GA1UdDwEB/wQEAwIEMDAWBgNVHSAEDzANMAsGCSqDGoaNIQICATBoBgN
VHREEYTBfoF0GCSqDGoyaRAoBAaBQME4MCeygle2VtOq0gDBBMD8GCiqDGoyaRAoBAQEwMTALBglghkgBZQMEAgGgIgQgWlQlR7bx4S+3FaICPN3FPXuMdsItEse6KAopBQE8gkMwgY8GA1UdHwSBhzCBhDCBgaB/oH2Ge2xkYXA6Ly9jZW4uZ
GlyLmdvLmtyOjM4OS9jbj1jcmwxcDFkcDI1MTEsY249Q0ExMzExMDAwMDEsb3U9R1BLSSxvPUdvdmVybm1lbnQgb2YgS29yZWEsYz1LUj9jZXJ0aWZpY2F0ZVJldm9jYXRpb25MaXN0O2JpbmFyeTA2BggrBgEFBQcBAQQqMCgwJgYIKwYBBQU
HMAGGGmh0dHA6Ly9ndmEuZ3BraS5nby5rcjo4MDAwMA0GCSqGSIb3DQEBCwUAA4IBAQAzsNXrZFeDBJglix7A3GRwVwlFqb4tbFnMxRx/+W0NcxTxGbqrQeuXrBoY+Mxx68/p0xAcjhi9+7oJxIwy+FVzTVGt+ja4Y4UvxtOswk+KZF/71PWkn
twiWLGe/bNmn80P3Dx964zhyAiQeEfDEFjDAKBCHkVB35aHB9cEIrqASJWd+A6UwRuwT2IyiHiC3U1KxIWjPeqXuujxxzXI7uCK16jRypHlyFUMMTW52HQz48j8L1BiheUo4uk4qEcqr+3BmjWkAkQSdTwiv1Bk7v80xV5JO9yN438pOxWpt+R
BIdyZ+Zw0qbUXCHT+UpQiWOD3Iewe+MiyoASfP2YeyK3I
userSMIMECertificate: MIIHhjCCBm6gAwIBAgIUJk4+EmjtxCCETRLB8mb3Cn2LT2wwDQYJKoZIhvcNAQELBQAwUDELMAkGA1UEBhMCS1IxHDAaBgNVBAoME0dvdmVybm1lbnQgb2YgS29yZWExDTALBgNVBAsMBEdQS0kxFDASBgNVBAMM
C0NBMTMxMTAwMDAxMB4XDTE2MTEyOTA2MDkxM1oXDTE5MDMwMTE0NTk1OVowgYUxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNHb3Zlcm5tZW50IG9mIEtvcmVhMS0wKwYDVQQLDCTsoJXrtoDsoITsnpDrrLjshJzsnKDthrXqtIDrpqzshLzthL
AxDzANBgNVBAsMBnBlb3BsZTEYMBYGA1UEAwwPOTk57KCV7ZW06rSAMDAxMIIDSDCCAjsGCCqDGoyaRAEVMIICLQKCAQEAuTSntn7h4QRGHkk9A9c8IDhTLVTu2n9n6lLHIwHLllzq5j9eRJiitftTV1G3DH9OUmQypTMa4qFrO35XinMezP9E
06Y4x9K2qmGauh/dZwf+l95nZYgKycV8JWa5eh1GaiJ7AqU6VWsbmmz2mGM9ujF2CCbjRD22/T3SznB9zgAWQCKKlWnQz6Vd6gqdhrESsScHBdy5Dfw4a4M0YSzkqU0V/WagFW0P5Bm2QTbILLJEN/Md1/Nc1Cn4CfDHvwsVy+4a5bsnwbxyId
ZYfc6PL1w7RYu2GTTFdICOHeuWGXQ93YYGm/aMbzqdJMQ0ZWc5TBiC7KTp2iJ54BdtyAa+2wIhALH3V6Myu3PV3HhOVOyYOsumH4x6IPeaegy2VH5cQtd7AoIBAQCDsm1NJq2dviUbuiOvWKfUpf5DGyKmAdoDB3GEdylwenTkK8Eh2RfpuUkn
5savNfV+oDEh7VYaz60GwV13fMGBQ+7h48IBUXexhPjqznX6x7QP8eRYEvWfyuSWOPRZVoK+4h7bYXiD5M6BeOc6JufG2kD9zIA2hTMN+RGcPR3gNqkCL6CWRgzY2A4xdW7JKII2sL67h5WA1TU5ymEHd6sXeQpUKPgWrSj19IFnxDONA6UVAX
0nWRBKU2dO2xPEqxVePHkHaItPxfuDIxtjL/sE7d0TBX9dtTSXAIncocMPdMVd3myet6GZPpnjHo2d12KiG8ZdUXhIU8yEuXEQMmOiA4IBBQACggEAWFidkWXnOP+NPAzz64KalbPJZeNbJdIIz4A82ZaYjnkgi9R5tGd//9i/v2y+/Ag9jAFG
sKS2kJWiHENp8fGbMi7Z2Ekc+OiCI8Kq27JME9W/GAQNpXkC63IH6xvkucOAnOL4XeT65EXCZpdi7k3bszB6QuI72yTsEoDY3iO2Fzg4K+uJLY7HIiN9SIz0ZESSB9WZ979Nnke0GYqFPWYHnMe7AsC/0JY/5KxvAI50HG+sRP8Fdo7WcAUkB7
MU8ShXyQzCGInmJRe6ku4xJG1VDnbHS2KBsUdeGVJi23LkF9pUWVXsh8ZE2qKxCd8SP8c4OtPdxQw3JZWV4UvZiyGPJqOCAfowggH2MHkGA1UdIwRyMHCAFJKkeBexqi8Z2Cs/ubMrIxWD1Zc1oVSkUjBQMQswCQYDVQQGEwJLUjEcMBoGA1UE
CgwTR292ZXJubWVudCBvZiBLb3JlYTENMAsGA1UECwwER1BLSTEUMBIGA1UEAwwLR1BLSVJvb3RDQTGCAicSMB0GA1UdDgQWBBTzbx772CT3LMsU6UHCz+ivCcfiKDAOBgNVHQ8BAf8EBAMCBsAwFgYDVR0gBA8wDTALBgkqgxqGjSECAgEwaA
YDVR0RBGEwX6BdBgkqgxqMmkQKAQGgUDBODAnsoJXtlbTqtIAwQTA/BgoqgxqMmkQKAQEBMDEwCwYJYIZIAWUDBAIBoCIEIFpUJUe28eEvtxWiAjzdxT17jHbCLRLHuigKKQUBPIJDMIGPBgNVHR8EgYcwgYQwgYGgf6B9hntsZGFwOi8vY2Vu
LmRpci5nby5rcjozODkvY249Y3JsMXAxZHAyNTExLGNuPUNBMTMxMTAwMDAxLG91PUdQS0ksbz1Hb3Zlcm5tZW50IG9mIEtvcmVhLGM9S1I/Y2VydGlmaWNhdGVSZXZvY2F0aW9uTGlzdDtiaW5hcnkwNgYIKwYBBQUHAQEEKjAoMCYGCCsGAQ
UFBzABhhpodHRwOi8vZ3ZhLmdwa2kuZ28ua3I6ODAwMDANBgkqhkiG9w0BAQsFAAOCAQEAW+5jTn71bDgr1kXylEo1vKnsqnI9GeOy3/5cKRifQDv4QX9IUR8gEP6zjT7rlDFxryuSBzMOQTCrzYJQN5oZcJxxFXgDZTCMFLl7r2UlH9tNrg8N
xY3AdohdP0/3bR/hR4U+whz36A4jRnDJXrtPgm/TDE93+9Q/SYgfivUuXpG19yQQYf0bwxP20cIo+fcE0CE1wd14QbxYr0OtSTEA+1Og5ra4PHdu/yIKMJETBjHGXIht1qec8mmOZN0vuW5l8sZbqt9BO5Cs/zrqt8vUKHFYti4yNsB6BLlKr5
f0HjVsUD0GuwX+Sd+V/Stp9RJSIJdYFnK//5TyYCuqx6pc1g==

```
2) ldap browser

![image](https://user-images.githubusercontent.com/48749172/65579949-b7f5f380-dfb3-11e9-8c53-84ff925a9da5.png)


**Is it a bug? Is it a change of standards?**

**I want to make the attribute use the option as shown in the RFC documentation.**

**LDAP servers with 'RFC 4523' applied to standard schema files(00-core.ldif) are causing unexpected behavior.**
```
objectClasses: ( 2.5.6.21 NAME 'pkiUser' DESC 'X.509 PKI User' SUP top
  AUXILIARY MAY userCertificate X-ORIGIN 'RFC 4523' )
objectClasses: ( 2.5.6.22 NAME 'pkiCA' DESC 'X.509 PKI Certificate Authority'
  SUP top AUXILIARY MAY ( cACertificate $ certificateRevocationList $
  authorityRevocationList $ crossCertificatePair ) X-ORIGIN 'RFC 4523' )
objectClasses: ( 2.5.6.23 NAME 'deltaCRL' DESC 'X.509 delta CRL' SUP top
  AUXILIARY MAY deltaRevocationList X-ORIGIN 'RFC 4523' )
```
**The old LDAP server showed the expected behavior.**
(ex unboundid Directory server series, Sun , Oracle DSEE.. ) 

**Is this a matter of standards? Or is it just a LDAP bug?**


**Server :**
 - OS: Windows
 - LDAP Version :  opendj 4.2.2/4.3.1/4.4.2/4.4.3
                            forgeRock 6.5.2

** Thank you for your response **


Hello.

### User's entry:
![1](https://user-images.githubusercontent.com/2674731/65818983-c9dbce80-e21f-11e9-841d-727e85ba4e26.png)
### Attribute value:
![2](https://user-images.githubusercontent.com/2674731/65818988-ce07ec00-e21f-11e9-9ac4-1bf4f9610601.png)

### ldapsearch:
```
ldapsearch` -LLL -x -H ldap://ldap1/ -D "cn=Directory Manager" -W -b "uid=user.1,ou=People,dc=example"
Enter LDAP Password:

dn: uid=user.1,ou=People,dc=example
objectClass: top
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
userSMIMECertificate:: C0NBMTMxMTAwMDAxMB4XDTE2MTEyOTA2MDkxM1oXDTE5MDMwMTE0NTk
 1OVowgYUxCzAJBgNVBAYTAktSMRwwGgYDVQQKDBNHb3Zlcm5tZW50IG9mIEtvcmVhMS0wKwYDVQQL
 DCTsoJXrtoDsoITsnpDrrLjshJzsnKDthrXqtIDrpqzshLzthLAxDzANBgNVBAsMBnBlb3BsZTEYM
 BYGA1UEAwwPOTk57KCV7ZW06rSAMDAxMIIDSDCCAjsGCCqDGoyaRAEVMIICLQKCAQEAuTSntn7h4Q
 RGHkk9A9c8IDhTLVTu2n9n6lLHIwHLllzq5j9eRJiitftTV1G3DH9OUmQypTMa4qFrO35XinMezP9
 E06Y4x9K2qmGauh/dZwf+l95nZYgKycV8JWa5eh1GaiJ7AqU6VWsbmmz2mGM9ujF2CCbjRD22/T3S
 znB9zgAWQCKKlWnQz6Vd6gqdhrESsScHBdy5Dfw4a4M0YSzkqU0V/WagFW0P5Bm2QTbILLJEN/Md1
 /Nc1Cn4CfDHvwsVy+4a5bsnwbxyIdZYfc6PL1w7RYu2GTTFdICOHeuWGXQ93YYGm/aMbzqdJMQ0ZW
 c5TBiC7KTp2iJ54BdtyAa+2wIhALH3V6Myu3PV3HhOVOyYOsumH4x6IPeaegy2VH5cQtd7AoIBAQC
 Dsm1NJq2dviUbuiOvWKfUpf5DGyKmAdoDB3GEdylwenTkK8Eh2RfpuUkn5savNfV+oDEh7VYaz60G
 wV13fMGBQ+7h48IBUXexhPjqznX6x7QP8eRYEvWfyuSWOPRZVoK+4h7bYXiD5M6BeOc6JufG2kD9z
 IA2hTMN+RGcPR3gNqkCL6CWRgzY2A4xdW7JKII2sL67h5WA1TU5ymEHd6sXeQpUKPgWrSj19IFnxD
 ONA6UVAX0nWRBKU2dO2xPEqxVePHkHaItPxfuDIxtjL/sE7d0TBX9dtTSXAIncocMPdMVd3myet6G
 ZPpnjHo2d12KiG8ZdUXhIU8yEuXEQMmOiA4IBBQACggEAWFidkWXnOP+NPAzz64KalbPJZeNbJdII
 z4A82ZaYjnkgi9R5tGd//9i/v2y+/Ag9jAFGsKS2kJWiHENp8fGbMi7Z2Ekc+OiCI8Kq27JME9W/G
 AQNpXkC63IH6xvkucOAnOL4XeT65EXCZpdi7k3bszB6QuI72yTsEoDY3iO2Fzg4K+uJLY7HIiN9SI
 z0ZESSB9WZ979Nnke0GYqFPWYHnMe7AsC/0JY/5KxvAI50HG+sRP8Fdo7WcAUkB7MU8ShXyQzCGIn
 mJRe6ku4xJG1VDnbHS2KBsUdeGVJi23LkF9pUWVXsh8ZE2qKxCd8SP8c4OtPdxQw3JZWV4UvZiyGP
 JqOCAfowggH2MHkGA1UdIwRyMHCAFJKkeBexqi8Z2Cs/ubMrIxWD1Zc1oVSkUjBQMQswCQYDVQQGE
 wJLUjEcMBoGA1UECgwTR292ZXJubWVudCBvZiBLb3JlYTENMAsGA1UECwwER1BLSTEUMBIGA1UEAw
 wLR1BLSVJvb3RDQTGCAicSMB0GA1UdDgQWBBTzbx772CT3LMsU6UHCz+ivCcfiKDAOBgNVHQ8BAf8
 EBAMCBsAwFgYDVR0gBA8wDTALBgkqgxqGjSECAgEwaAYDVR0RBGEwX6BdBgkqgxqMmkQKAQGgUDBO
 DAnsoJXtlbTqtIAwQTA/BgoqgxqMmkQKAQEBMDEwCwYJYIZIAWUDBAIBoCIEIFpUJUe28eEvtxWiA
 jzdxT17jHbCLRLHuigKKQUBPIJDMIGPBgNVHR8EgYcwgYQwgYGgf6B9hntsZGFwOi8vY2VuLmRpci
 5nby5rcjozODkvY249Y3JsMXAxZHAyNTExLGNuPUNBMTMxMTAwMDAxLG91PUdQS0ksbz1Hb3Zlcm5
 tZW50IG9mIEtvcmVhLGM9S1I/Y2VydGlmaWNhdGVSZXZvY2F0aW9uTGlzdDtiaW5hcnkwNgYIKwYB
 BQUHAQEEKjAoMCYGCCsGAQUFBzABhhpodHRwOi8vZ3ZhLmdwa2kuZ28ua3I6ODAwMDANBgkqhkiG9
 w0BAQsFAAOCAQEAW+5jTn71bDgr1kXylEo1vKnsqnI9GeOy3/5cKRifQDv4QX9IUR8gEP6zjT7rlD
 FxryuSBzMOQTCrzYJQN5oZcJxxFXgDZTCMFLl7r2UlH9tNrg8NxY3AdohdP0/3bR/hR4U+whz36A4
 jRnDJXrtPgm/TDE93+9Q/SYgfivUuXpG19yQQYf0bwxP20cIo+fcE0CE1wd14QbxYr0OtSTEA+1Og
 5ra4PHdu/yIKMJETBjHGXIht1qec8mmOZN0vuW5l8sZbqt9BO5Cs/zrqt8vUKHFYti4yNsB6BLlKr
 5f0HjVsUD0GuwX+Sd+V/Stp9RJSIJdYFnK//5TyYCuqx6pc1g==
sn: Atp
cn: Aaren Atp
userPassword:: e1NTSEF9SnBpWkFsSFZzbVNad1lZd2I2WDIrVkt1blJsWHJncFpHL2Vjb2c9PQ=
 =
uid: user.1
```

As you can see our ldapsearch results is some differs: `userSMIMECertificate: ...` ≠ `userSMIMECertificate:: ...`

HELLO.
Thanks for your reply.

There was some error in my explanation.

As you say :: is right.

About using userSMIMECertificate, my test did so too. The result is the same as yours.

However, the problem is that error code 17 appears when testing with; binary.

The problem is the encoding are troubled.

Thank you again.



hi,

I will to modify the syntax of Attribute to a certificate.
Thanks to everyone