RFC5805 Lightweight Directory Access Protocol (LDAP) Transactions

[RFC5805 Lightweight Directory Access Protocol (LDAP) Transactions](https://datatracker.ietf.org/doc/html/rfc5805)

>This document extends the Lightweight Directory Access Protocol (LDAP) [RFC4510](https://datatracker.ietf.org/doc/html/rfc4510) to allow clients to relate a number of update operations [RFC4511](https://datatracker.ietf.org/doc/html/rfc4511) and have them performed as one unit of interaction, a transaction. As with distinct update operations, each transaction has atomic, consistency, isolation, and durability ([ACID](https://datatracker.ietf.org/doc/html/rfc5805#ref-ACID)) properties.

>This extension consists of two extended operations, one control, and one unsolicited notification message. The Start Transaction operation is used to obtain a transaction identifier. This identifier is then attached to multiple update operations to indicate that they belong to the transaction using the Transaction Specification control. The End Transaction is used to settle (commit or abort) the transaction. The Aborted Transaction Notice is provided by the server to notify the client that the server is no longer willing or able to process an outstanding transaction.