DOC REVIEW: Spelling error and a comment on the extension of the Collective Attribute standard(s)

## OpenDJ Administration Guide - Version 4.8.0 (PDF)

### Page 57, Procedure 5.3, Paragraph 2

> OpenDJ extends collective attributes to give you fine-grained control over the which entries in the subtree are targeted. Also, OpenDJ lets you use virtual attributes, such as isMemberOf to construct the filter for targetting entries to which the collective attributes apply.

First off, `targetting` should be `targeting`

Next, the spirit of the actual comment should _expanded_.

Not only were Collective Attributes ([RFC 3671](https://www.rfc-editor.org/rfc/rfc3671.html)) extended, but OpenDJ **also** extended `SubtreeSpecification.SpecificationFilter` ([RFC 3672 § 2.1](https://www.rfc-editor.org/rfc/rfc3672.html#section-2.1)) to allow for [RFC 4515](https://datatracker.ietf.org/doc/html/rfc4515) Search Filters _as an alternative_ to the typical `Refinement` ASN.1 CHOICE:

```
     Refinement ::= CHOICE {
         item                [0] OBJECT-CLASS.&id,
         and                 [1] SET OF Refinement,
         or                  [2] SET OF Refinement,
         not                 [3] Refinement }
```

I realize the two standards often go hand-in-hand, but as someone who has done directory consulting for many years, your subsequent example on the next page ...

```
subtreeSpecification: {base "ou=people", specificationFilter "(isMemberOf=cn=Directory Administrators,ou=Groups,dc=example,dc=com)"}
```

...  initially led me to believe that this was a documentation error, and not just a really cool feature 😎

You may also want to offer a word of CAUTION to users who leverage third-party LDAP client software -- particularly Apache Directory Studio -- that offers its own Subtree Specification "value editor".  In Apache DS's case, it is sensitive to such non-standard values, such as a Search Filter, and will NOT support them.

Thanks! 😃 

Screenshot from preliminary built test.

![Screenshot_2024-09-15_19-00-04](https://github.com/user-attachments/assets/6492d5f0-bd51-4c69-a855-2d03f5192468)
